<h1 align="center">Modificando Info del Producto</h1>

<%= render 'form', product: @product %>
<div align="center">
    <%= link_to 'Show', @product %>
    |
    <%= link_to 'Back', products_path %>
</div>
